@model GestaoBeleza.Models.HistoricoQuimico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistoricoQuimico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataUltimoServicoRealizado" class="control-label"></label>
                <input asp-for="DataUltimoServicoRealizado" class="form-control" />
                <span asp-validation-for="DataUltimoServicoRealizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecificacoesDosServicos" class="control-label"></label>
                <input asp-for="EspecificacoesDosServicos" class="form-control" />
                <span asp-validation-for="EspecificacoesDosServicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespectivosProfissionais" class="control-label"></label>
                <input asp-for="RespectivosProfissionais" class="form-control" />
                <span asp-validation-for="RespectivosProfissionais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuimicaUtilizada" class="control-label"></label>
                <input asp-for="QuimicaUtilizada" class="form-control" />
                <span asp-validation-for="QuimicaUtilizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
